<div class="grandParentContainer">
  <div class="parentContainer">
    <div class="login-form">
      <%= form_with(model: store, local: true) do |form| %>
        <% if store.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>
            <ul>
            <% store.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :name, 'Имя магазина' %>
          <%= form.text_field :name %>
        </div>
        <div class="actions">
          <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
