<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
<div class="container">
  <div class="col-lg-10 col-lg-offset-5">
    <h1>Товары</h1>
    <a href="javascript:void(0);" onclick="viewdiv('mydiv');">Добавить товар</a>
  </div>
  <div id="mydiv" style="display:none;">
    <%= render 'form', item: @item %>
  </div>
</div>
<% end %>
<%= form_tag items_path, method: 'get', class: 'navbar-form' do %>
  <div class="form-group"><%= label_tag :search, 'Поиск' %></div>
  <div class="form-group"><%= text_field_tag :search, params[:search], class: 'form-control', size: 80 %></div>
  <div class="form-group"><%= select_tag :status, options_for_select(@all_statuses, params[:status]), onchange: ('this.form.submit();'), class: 'form-control' %></div>
  <div class="form-group"><%= submit_tag 'Поиск', name: nil, class: 'btn btn-primary btn-block' %></div>
<% end %>
Найдено товаров: <%= @items.count %>
<div class="form-group"><div class="digg_pagination">
  <%= will_paginate(@items, :container => false) unless @items.kind_of?(Array)  %>
</div></div>
<table class="table">
  <thead>
    <tr class="info">
      <th>ID</th>
      <th>Название</th>
      <th>Закупка $</th>
      <th>Цена</th>
      <th>Закреплен</th>
      <th>Статус</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr
        <% if item.status.name == 'Продан' %>
          class="success"
        <% elsif item.status.name == 'Брак' %>
          class="danger"
        <% end %>
      >
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.purchase %></td>
        <td><%= item.retail %></td>
        <td><%= item.store.name %></td>
        <td><%= item.status.name %></td>
        <td><%= link_to 'Просмотреть', item %></td>
        <td><%= link_to 'Изменить', edit_item_path(item) %></td>
        <td><%= link_to 'Удалить', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

