<div class="center">
<p id="notice"><%= notice %></p>

<div class="alert alert-info" role="alert"><h1><p>
  <strong>ID товара:</strong>
  <%= @item.id %>
</p></h1></div>

<p>
  <strong>Название:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Закупка:</strong>
  <%= @item.purchase %>
</p>

<p>
  <strong>Цена продажи:</strong>
  <%= @item.retail %>
</p>

  <div class="alert alert-info" role="alert">
    <strong>Статус товара:</strong>
    <h1><%= @item.status.name %></h1>
  </div>

<%= link_to 'Изменить', edit_item_path(@item) %> |
<%= link_to 'Назад', items_path %>
</div>