<div class="center">
<p id="notice"><%= notice %></p>

<div class="alert alert-info" role="alert"><h1><p>
  <strong>ID товара:</strong>
  <%= @item.id %>
</p></h1></div>

<p>
  <strong>Название:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Закупка:</strong>
  <%= @item.purchase %>
</p>

<p>
  <strong>Цена продажи:</strong>
  <%= @item.retail %>
</p>

  <div class="alert alert-info" role="alert">
    <strong>Статус товара:</strong>
    <h1><%= @item.status.name %></h1>
  </div>

<%= link_to 'Изменить', edit_item_path(@item) %> |
<%= link_to 'Назад', url_for(:back) %>
</div>

<h1 class="text-center">История товара</h1>
<table class="table">
  <thead>
  <tr class="info">
    <th>ID</th>
    <th>Название</th>
    <th>Закупка $</th>
    <th>Цена</th>
    <th>Закреплен</th>
    <th>Статус</th>
    <th>Дата изменения</th>
    <th>Автор изменений</th>
  </tr>
  </thead>

  <tbody>
  <% @versions.each do |item| %>
    <tr
      <% if item.status.name == 'Продан' %>
      class="success"
      <% elsif item.status.name == 'Брак' %>
      class="danger"
      <% end %>
      >
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.purchase %></td>
      <td><%= item.retail %></td>
      <td><%= item.store.name %></td>
      <td><%= item.status.name %></td>
      <td><%= item.updated_at + 2*60*60 %></td>
      <td><%= item.user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>