
<!DOCTYPE html>
<html>
  <head>
    <title>AksStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" <%='class=active' if current_page?(items_path) %>><a href="<%= items_path %>">Управление товарами</a></li>
        <li role="presentation" <%='class=active' if current_page?(statuses_path) %>><a href="<%= statuses_path %>">Управление статусами</a></li>
        <li role="presentation" <%='class=active' if current_page?(stores_path) %>><a href="<%= stores_path %>">Управление магазинами</a></li>
        <li role="presentation" <%='class=active' if current_page?(trading_days_path) %>><a href="<%= trading_days_path %>">Торговые дни</a></li>
        <li role="presentation" <%='class=active' if current_page?(my_day_path) %>><a href="<%= my_day_path %>"><strong>Мой день</strong></a></li>
      </ul>
  </div>
  <div class="pull-right">
    <% if user_signed_in? %>
      <p>Привет, <%= current_user.email %> |
      <%= link_to 'Смена пароля', edit_user_registration_path %> | <%= link_to 'Роли', admin_path %> |
      <%= link_to 'Выйти из системы', destroy_user_session_path, :method => :delete %></p>
    <% else %>
      <p><%= link_to 'Войти в систему', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %></p>
    <% end %>
  </div>
<br><br>
    <% if notice.present? %>
    <div class="alert alert-danger"><p id="notice"><%= notice.html_safe %></p></div>
    <% end %>
    <%= yield %>
  </body>
</html>
