
<!DOCTYPE html>
<html>
  <head>
    <title>AksStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav nav-tabs">

    <li role="presentation" <%='class=active' if current_page?(items_path) %>><a href="<%= items_path %>">Управление товарами</a></li>
    <li role="presentation" <%='class=active' if current_page?(statuses_path) %>><a href="<%= statuses_path %>">Управление статусами</a></li>
    <li role="presentation" <%='class=active' if current_page?(stores_path) %>><a href="<%= stores_path %>">Управление точками</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
